// ==========================================================================
// Colors
// ==========================================================================

// Generic colors
$white: rgb(255, 255, 255);
$black: rgb(40, 40, 40);

// UI colors
$body-bg-color: $black;
$body-color: $white;

// Brand colors
$bb-red: rgb(235, 47, 45);
$bb-blue: rgb(10, 45, 80);
