// ==========================================================================
// Component: Story
// ==========================================================================

.story {
  color: $black;
  background-color: $white;
  padding: 10px;
  border-radius: $border-radius;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}
